.row .cajaTexto .descripcion {
  text-align: justify;
  line-height: 2rem; }

.container .tituloProd {
  font-size: 2.2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-family: 'Lobster', cursive; }

.container .descripcionProd {
  margin: 2rem;
  text-align: justify;
  line-height: 2rem; }

#cardContenedor {
  display: flex;
  justify-content: center; }
  #cardContenedor .card {
    margin-bottom: 2rem; }
    #cardContenedor .card #panes {
      width: 286px;
      height: 287px; }
    #cardContenedor .card .card-title {
      font-family: 'Lobster', cursive; }
    #cardContenedor .card .card-text {
      color: rgba(51, 51, 51, 0.805); }
    #cardContenedor .card .btn {
      width: 40%;
      padding: 8px 16px;
      margin-top: 32px;
      border: 1px solid #000;
      border-radius: 5px;
      display: block;
      color: #fff !important;
      background-color: #000;
      font-family: 'Lobster', cursive;
      font-size: 1.2rem; }
      #cardContenedor .card .btn:hover {
        background-color: rgba(51, 51, 51, 0.815);
        border: none;
        transform: scale(1.1);
        transition: .3s; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Flex', sans-serif;
  box-sizing: border-box; }

a {
  text-decoration: none; }
  a:active, a:visited {
    color: #333; }

.header {
  width: 100%;
  height: 12vh; }
  .header #navBar {
    padding: 0;
    background: linear-gradient(0deg, #f9f9f9 0%, #a8a8a8 100%); }
  .header .logo {
    width: 80px;
    height: 80px; }
  .header .navbar-brand {
    margin-left: 1rem;
    font-size: 1.5rem;
    font-family: 'Lobster', cursive; }
  .header .nav-item a {
    padding-bottom: 2px;
    height: 2.5rem; }
    .header .nav-item a:hover {
      border-bottom: 2px solid #333; }

.row {
  width: 100%; }
  .row .cajaTexto {
    padding: 5rem 0 5rem 5rem; }
    .row .cajaTexto .titulo {
      text-align: center;
      font-size: 60px;
      font-family: 'Lobster', cursive; }
    .row .cajaTexto .descripcion {
      padding: 50px 65px; }
  .row .cajaImagen {
    display: flex;
    justify-content: space-around;
    padding: 0; }
    .row .cajaImagen .imagen {
      width: 420px;
      height: 519px; }

.footer {
  background: linear-gradient(0deg, #f9f9f9 0%, #a8a8a8 100%); }
  .footer ul {
    display: flex;
    justify-content: center;
    height: 8vh;
    margin-bottom: 0; }
    .footer ul li {
      list-style: none;
      padding: 20px; }
      .footer ul li .iconos {
        padding-left: 10px; }
      .footer ul li a {
        padding: 5px; }
        .footer ul li a:hover {
          border-bottom: 2px solid #333; }

@media (max-width: 1024px) {
  /* GENERAL */
  .nav-item a:hover {
    border-bottom: none; }
  /* INDEX */
  .cajaTexto {
    padding: 0;
    padding-top: 4rem; }
    .cajaTexto .descripcion {
      padding: 2rem; }
  .cajaImagen {
    padding: 2rem; } }

@media (max-width: 768px) {
  /* GENERAL */
  .nav-item a:hover {
    border-bottom: none; }
  /* INDEX */
  .titulo {
    font-size: 50px; }
  .cajaImagen {
    box-sizing: border-box;
    display: flex;
    align-items: center; }
    .cajaImagen .imagen {
      width: 320px;
      height: 400px; } }

@media (max-width: 480px) {
  /* GENERAL */
  .nav-item a:hover {
    border-bottom: none; }
  /* INDEX */
  .cajaTexto {
    padding: 0;
    margin: 0 auto; }
    .cajaTexto .descripcion {
      padding: 0; }
  .cajaImagen {
    padding: 0 0 2rem 0; }
    .cajaImagen .imagen {
      height: 530px;
      width: 550px;
      margin: 0 auto;
      padding-bottom: 4rem; } }
