#nosotros .quienesSomos p, .main-galeria .galeriaText p, .container .descripcionProd, .row .cajaTexto .descripcion {
  text-align: justify;
  line-height: 2rem;
  color: #494848; }

.containerForm .contacto, #nosotros .quienesSomos .nosotrosTitulo, .main-galeria .galeriaText h2, .container .tituloProd {
  text-align: center;
  font-size: 2rem;
  margin: 2rem; }

.containerForm .contacto {
  font-family: "Lobster", cursive;
  color: #212529; }

.containerForm .form {
  width: 300px;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
  background-color: #ccc;
  margin-bottom: 2rem; }
  .containerForm .form label {
    width: 72px;
    font-weight: bold;
    display: inline-block; }
  .containerForm .form input[type="text"],
  .containerForm .form input[type="email"] {
    width: 180px;
    padding: 3px 10px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px 0;
    display: inline-block; }
  .containerForm .form input[type="submit"] {
    width: 100%;
    padding: 8px 16px;
    margin-top: 32px;
    border: 1px solid #000;
    border-radius: 5px;
    display: block;
    color: #fff;
    background-color: #000; }
    .containerForm .form input[type="submit"]:hover {
      cursor: pointer;
      background-color: rgba(51, 51, 51, 0.705);
      border: rgba(51, 51, 51, 0.705) 1px solid; }
  .containerForm .form textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px 0;
    resize: none;
    display: block; }

#nosotros {
  width: 100%;
  height: 80vh; }
  #nosotros .quienesSomos {
    padding: 5rem 0 0 7rem; }
    #nosotros .quienesSomos .nosotrosTitulo {
      font-family: "Lobster", cursive;
      color: #212529; }
  #nosotros .asideNosotros {
    display: flex;
    justify-content: center;
    align-items: center; }
    #nosotros .asideNosotros .imgBruschettas {
      border-radius: 10px;
      height: 70vh; }

.main-galeria {
  height: 140vh; }
  .main-galeria .galeriaText {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box; }
    .main-galeria .galeriaText h2 {
      font-family: "Lobster", cursive;
      color: #212529; }
    .main-galeria .galeriaText p {
      padding: 0 5rem; }
  .main-galeria .contenedor-galeria {
    width: 40%;
    margin-left: 25rem;
    margin-bottom: 2rem; }
    .main-galeria .contenedor-galeria .carousel-inner {
      width: 100%; }

.container .tituloProd {
  font-family: "Lobster", cursive;
  color: #212529; }

#cardContenedor {
  display: flex;
  justify-content: center; }
  #cardContenedor .card {
    margin-bottom: 2rem; }
    #cardContenedor .card #panes {
      width: 286px;
      height: 287px; }
    #cardContenedor .card .card-title {
      font-family: "Lobster", cursive; }
    #cardContenedor .card .card-text {
      color: rgba(51, 51, 51, 0.805); }
    #cardContenedor .card .btn {
      width: 40%;
      padding: 8px 16px;
      margin-top: 32px;
      border: 1px solid #000;
      border-radius: 5px;
      display: block;
      color: #fff !important;
      background-color: #000;
      font-family: "Lobster", cursive;
      font-size: 1.2rem; }
      #cardContenedor .card .btn:hover {
        background-color: rgba(51, 51, 51, 0.815);
        border: none;
        transform: scale(1.1);
        transition: .3s; }

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Flex", sans-serif;
  box-sizing: border-box; }

a {
  text-decoration: none; }
  a:active, a:visited {
    color: #333; }

.header {
  width: 100%;
  height: 12vh; }
  .header #navBar {
    padding: 0;
    background: linear-gradient(0deg, #f9f9f9 0%, #a8a8a8 100%); }
  .header .logo {
    width: 80px;
    height: 80px; }
  .header .navbar-brand {
    margin-left: 1rem;
    font-size: 1.5rem;
    font-family: "Lobster", cursive;
    color: #212529; }
  .header .nav-item a {
    padding-bottom: 2px;
    height: 2.5rem; }
    .header .nav-item a:hover {
      border-bottom: 2px solid #333; }

.row {
  width: 100%; }
  .row .cajaTexto {
    padding: 5rem 0 5rem 5rem; }
    .row .cajaTexto .titulo {
      text-align: center;
      font-size: 60px;
      font-family: "Lobster", cursive; }
    .row .cajaTexto .descripcion {
      padding: 50px 65px; }
  .row .cajaImagen {
    display: flex;
    justify-content: space-around;
    padding: 0; }
    .row .cajaImagen .imagen {
      width: 420px;
      height: 519px; }

.footer {
  background: linear-gradient(0deg, #f9f9f9 0%, #a8a8a8 100%); }
  .footer ul {
    display: flex;
    justify-content: center;
    height: 8vh;
    margin-bottom: 0; }
    .footer ul li {
      list-style: none;
      padding: 20px; }
      .footer ul li .iconos {
        padding-left: 10px; }
      .footer ul li a {
        padding: 5px; }
        .footer ul li a:hover {
          border-bottom: 2px solid #333; }

@media (max-width: 768px) {
  /* INDEX */
  #container-index {
    width: 100%;
    height: 80vh; }
    #container-index .cajaTexto {
      padding: 3rem; }
      #container-index .cajaTexto .titulo {
        padding-top: 2rem;
        font-size: 3.5rem; }
      #container-index .cajaTexto .descripcion {
        padding: 2rem 0 2rem 1rem; }
    #container-index .cajaImagen {
      padding: 3rem 0 3rem 0; }
      #container-index .cajaImagen .imagen {
        height: 525px;
        width: 350px;
        padding-bottom: 4rem; }
  #cardContenedor {
    padding-top: 2rem; }
  .main-galeria {
    height: 135vh; }
    .main-galeria .contenedor-galeria {
      width: 70%;
      padding-top: 3rem;
      margin: 0 auto; }
  #nosotros {
    display: flex;
    height: 80vh; }
    #nosotros .quienesSomos {
      padding: 2rem 3rem 2rem 3rem; }
      #nosotros .quienesSomos .nosotrosTitulo {
        margin: 0;
        padding-bottom: 2rem; }
    #nosotros .asideNosotros {
      padding-right: 2rem; } }

@media (max-width: 480px) {
  #container-index {
    width: 100%;
    height: 130vh; }
    #container-index .cajaTexto {
      padding: 0 5rem; }
      #container-index .cajaTexto .titulo {
        padding-top: 2rem; }
      #container-index .cajaTexto .descripcion {
        padding: 2rem 0 2rem 1rem; }
    #container-index .cajaImagen {
      padding: 2rem 0 2rem 1rem; }
      #container-index .cajaImagen .imagen {
        height: 525px;
        width: 350px;
        padding-bottom: 4rem; }
  .container {
    height: 275vh; }
    .container #cajaProd {
      height: 50vh; }
      .container #cajaProd .col-12 {
        height: 30vh; }
        .container #cajaProd .col-12 .tituloProd {
          padding-top: 2rem;
          margin: 0; }
        .container #cajaProd .col-12 .descripcionProd {
          padding: 2rem 2rem 2rem 3rem; }
    .container #cardContenedor {
      padding-left: 2.3rem;
      padding-top: 2rem; }
  .main-galeria {
    height: 110vh; }
    .main-galeria .galeriaText {
      margin-bottom: 5rem; }
    .main-galeria .contenedor-galeria {
      width: 70%;
      padding-top: 3rem;
      margin: 0 auto; }
  #nosotros {
    height: 135vh; }
    #nosotros .quienesSomos {
      padding: 2rem 3rem 2rem 4rem; }
      #nosotros .quienesSomos .nosotrosTitulo {
        margin: 0;
        padding-bottom: 2rem; }
    #nosotros .asideNosotros {
      padding: 0 3rem 3rem 4rem; }
  .containerForm {
    height: 75vh; } }
